.profileCard {
    background: var(--color-background-soft);
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%),
    inset 0 0 2px rgb(255 255 255 / 35%);
}

.contactButton {
    background: var(--color-selected);
}

.contactButton svg {
    height: 16px;
}

.icon svg {
    width: 24px;
}

.icon:hover svg {
    transition: all .7s ease-in-out 0s;
    transform: rotate(360deg);
}