.wand {
    aspect-ratio: 1 / 9;
    background: linear-gradient(
            to right,
            rgb(26, 24, 28) 10%,
            rgb(42, 40, 44) 45%,
            rgb(42, 40, 44) 55%,
            rgb(26, 24, 28) 90%
    );
    left: 5%;
    top: 40%;
    translate: -50%;
    box-shadow: 0 10px 20px rgb(0 0 0 / 60%);
}

.wand > .cap {
    background: linear-gradient(
            to right,
            rgb(212, 221, 236) 10%,
            rgb(255, 255, 255) 45%,
            rgb(255, 255, 255) 55%,
            rgb(212, 221, 236) 90%
    );
}

.tile,
.tile > .afterImage {
    background: var(--color-background-soft);
    aspect-ratio: 1;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%),
    inset 0 0 2px rgb(255 255 255 / 35%);
}

.tile svg {
    width: 64px;
}

@media screen and (min-width: 1280px) {
    .tile > .afterImage {
        aspect-ratio: 1;
        opacity: var(--opacity);
        filter: blur(calc(var(--blur) * 10px));
    }
}