@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text: #FFFFFF;
    --color-text-soft: rgba(255, 255, 255, 0.75);
    --color-text-supersoft: rgba(255, 255, 255, 0.50);
    --color-text-supersoft-copy: #8F8F90;
    --color-background: #1F2021;
    --color-background-soft: #252525;
    --color-selected: #149BFD;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;

    font-family: Poppins, Inter, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;

    background: var(--color-background);
    color: var(--color-text);
    overflow-x: hidden;
    line-height: 1.6;
    font-size: 1rem;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-selected) var(--color-background);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-selected);
    border-radius: 20px;
    border: 2px solid var(--color-background);
}

.text-muted {
    color: var(--color-text-soft);
}

.text-selected {
    color: var(--color-selected);
}

.section-header {
    padding-top: 56px;
}

.section-start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0.5px solid var(--color-text);
    padding: 6px 0;
    border-radius: 100px;
    width: 130px;
    margin-bottom: 40px;
    cursor: default;
    transition: all 0.2s ease-in-out;
}

.section-start svg {
    height: 12px;
}

.section-start p {
    font-size: 12px;
}

.section-start:hover {
    background: var(--color-selected);
    border: 0.5px solid var(--color-selected);
}

.section-title {
    font-size: 2rem;
    width: 100%;
    line-height: normal;
    margin-bottom: 30px;
}

.page {
    width: 100%;
    max-width: 700px;
}

.custom-container {
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
}

@media screen and (min-width: 640px) {
    .section-title {
        font-size: 3rem;
        width: 80%;
    }
}

@media screen and (min-width: 960px) {
    .page {
        max-width: 900px;
    }
}

@media screen and (min-width: 1280px) {
    .page {
        max-width: 900px;
        padding: 0 15px;
    }

    .custom-container {
        max-width: 710px;
        margin-left: auto;
        padding: 0;
    }
}

@media screen and (min-width: 1380px) {
    .page {
        max-width: 1200px;
    }

    .custom-container {
        max-width: 900px;
    }
}

@media screen and (min-width: 2000px) {
    .page {
        max-width: 1500px;
    }

    .custom-container {
        max-width: 1300px;
    }
}